h1{
    background: blue;
    text-align: center;
    color:black;
    border: solid red 20px;
    border-style:groove;
    padding: 15px;
    font-size: 45px;
    
}
h2{
    background: rgb(255, 220, 233);
    text-align: center;
border: solid color(srgb red green blue) ;
border-style: double;
}
p{
    font-size: 20pt;
font-style: initial;
}
strong{
    background: brown;
    text-align: center;
    font-size: x-large;
}
ol{
    background-color: violet;
    font-size: large;
color: rgb(183, 53, 53);

}
a:hover , a:active{
    background-color: beige;
    font-size: 100px;
}